*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
}
nav{
    background-color: #d4a373;
    position: relative;
    width: 100%;
    height: 60px;
    
}
.header-content{
    top:0;
    list-style-type: none;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
}
.search-bar-button{
    display: inline-flex;
}
 .logo-title{
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 900;
    align-items: center;
    margin-left: -50px;
} 
.search-bar{
    width: 700px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
}
.title-header{
    align-self: center;
}
.search-button{
    font-size: 20px; 
    width: 100px;
    height:40px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.cart-logo{
   height: 40px;
   width: 80px;
    
}
.signin-button{
    font-size: 20px; 
    width: 100px;
    height:40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 7px;
}
.cart-font{
    display: inline-flex;
    font-size: 23px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4px;
    margin-left: -10px;
}
.cart-font span{
    margin-left: -20px;
}
.signin-button-li{
    display: flex;
}
.logo-title span{
    margin-left: -20px;
    font-weight: 800;
    margin-top: 5px;
}
.main-content{
    display: flex;
    flex-direction: column;
    background-color: #ede0d4;
    width: 100%;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
}
.first-row{
    display: flex;
    flex-direction: row;
}
.first-row{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.first-row-col{
    display: flex;
    flex-direction: column;
    background-color: #FEFAE0;
    width: 300px;
    height: 400px;
    
}
.second-row{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
/* .first-row-col2{
    display: flex;
    flex-direction: column;
    background-color: #FEFAE0;
    width: 300px;
    height: 400px;
} */
.third-row{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
/* .first-row-col3{
    display: flex;
    flex-direction: column;
    background-color: #FEFAE0;
    width: 300px;
    height: 400px;
}    */

.back-to-top{
    display: flex;
    justify-content: center;
    background-color: #ddbea9;
    align-items: center ;
    width: 100%;
    height: 40px;
    cursor: pointer;
    
}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    background-color:#d4a373 ;
}
.footer-col{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
}
.footer-col a{
    color: black;
}
