@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: Google Sans;
    src: url(../res/GoogleSans-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ede0d4;
    animation: floatup 1s forwards;
   
}

.signformcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupform{
    width: 448px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ede0d4;
    border: 1px solid black;
    border-radius: 10px;
}

#signLogo{
    margin-top: 20px;
}

.signHeaderText{
    font-size: 24px;
    margin-top: 5px;
    color: black;
    font-weight: 400;
    font-family: Google Sans, Arial, sans-serif;
}

.signSubText{
    font-size: 16px;
    margin-top: 18px;
    color: black;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
}

.emailInput{
    font-family: Roboto, Arial, sans-serif;
    margin-top: 20px;
    width: 366px;
    height: 54px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    border-color: black;
    transition: .5s ease;
}

.emailInput:focus{
    outline: none;
    border: 2px solid #D4A373;
}

.emailInput::placeholder{
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.forgotPass{
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
    margin-top: 18px;
    color: #a9825a;
    font-size: 15px;
    font-weight: 600;
    align-self: flex-start;
    cursor: pointer;
    padding-left: 42px;
    transition: .2s ease;
}

.forgotPass:hover{
    color: #666666;
}

.nextSignBtn{
    font-family: Google Sans, Arial, sans-serif;
    margin-top: 30px;
    width: 75%;
    height: 40px;
    font-size: 14px;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: #D4A373;
    border-radius: 30px;
    color: black;
    transition: .5s ease-out;
}

.nextSignBtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}