*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signformcontainer{
    display: flex;
    width: 100%;
    height: vh;
}

.signupform{
    width: 400px;
    height: 500px;
    background-color: antiquewhite;
}
